BLUEPRINT:0,10,41505,0,0,0,0,0,638017129540000000,0.9.27.14659,Raw-OreRequirements,,"H4sIAAADb2kC/+3dOy8EURgG4G/sYqNAh0SypU7ili1lN2oNOgWJqFVafopC5QfQ6vwVd4UEUVh7mc1O4YjSbp4nOZMv78zJXIpp5suZLCJmWiOLrsXWGMnrLJoRZ3k8EmN5HKWI+sVCtZZdz10W697+88pGNHNRkJ9jttGfUKx/n5xf1Grjpnmy3p1QrLtqlaWfJlfeSv07nF7o73hP5B+J/DWRA/xX242piOrEZ8xvTnbeX1vjnffYcmsceDwAAAAAAAAMmFJ789V8qa/E6Xp2dHhVrHsHpZoHdss/f/TfS+T7ZU0CwHDQPAAAAAAAAMAwKbc3Y3FU7602UKx3jtc6I9U88JBYMeAxkd8m8hcrDwADRvMAAAAAAAAAw2S0VxR/VfDX3xbcJT763yfyp0T+rHkAGDCaBwAAAAAAABgmpYhvInc/aaCBAAA="C2A9AA8E3F59406C0EC5BF0C3CDCB382