MinGit/
7-zip/

*.log
.idea/
*.sha256

*.zip
*.7z
*.rar

*.exe

*.dsv
*.moddsv
*.mecha
BaB1.txt
New Blueprint 001.txt
RAIL EM.txt
Solar Panels 25.txt
Old Blueprint Portfolio/carbon.txt
Old Blueprint Portfolio/chaos.txt
Old Blueprint Portfolio/charon.txt
Old Blueprint Portfolio/DEUTERIUM.txt
Old Blueprint Portfolio/LAUNCHHUB.txt
Old Blueprint Portfolio/LOGISTICS.txt
Old Blueprint Portfolio/mall.txt
Old Blueprint Portfolio/mallv2.txt
Old Blueprint Portfolio/New Blueprint 001.txt
Old Blueprint Portfolio/oil.txt
Old Blueprint Portfolio/photons.txt
Old Blueprint Portfolio/plastic.txt
Old Blueprint Portfolio/poke.txt
Old Blueprint Portfolio/prolif.txt
Old Blueprint Portfolio/prolif3.txt
Old Blueprint Portfolio/rails.txt
Old Blueprint Portfolio/
.venv/
