BLUEPRINT:0,21,1002,1141,0,0,0,0,638463956590000000,0.10.29.21950,Copper-requirements,,"H4sIAMMBb2kC/2NkQAWMUAxh/2dgOAFlMjIwwdSsUp+/DYhNGQ9IbkNml0eYmIKwKYcxw38o4OPn54PoymOQBJKcDITBK2ZMPAoGDjBCIl1+Oyii/Rg+2COzYYqsOYoZQREO5vDCIrIBnGpA+IMnEzxhjYKRA1hABADw1lb2ZgQAAA=="C4DAF2CAB2A4CFEDBE6CF3F2DCA7D233